#!/usr/bin/make -f
%:
	dh $@ 

clean:
	dh_clean


binary-arch: clean
	dh_prep
	dh_installdirs
	make
	dh_install diary /usr/bin/
	gzip -c diary.1 > diary.1.gz
	dh_install diary.1.gz /usr/share/man/man1
	dh_install README.md /usr/share/doc/diary
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
