Source: alarm-clock
Section: misc
Priority: optional
Maintainer: John Jenkins <twodopeshaggy@gmail.com>
Build-Depends: debhelper, intltool, pkg-config, libgtk2.0-dev, libnotify-dev, libunique-dev, libgstreamer1.0-dev
Standards-Version: 3.9.1
Homepage: https://github.com/shaggytwodope/alarm-clock

Package: alarm-clock
Architecture: amd64 i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Alarm clock for the desktop.
